@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

/*main sekcia*/
.hero {
    height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,25,0.9), rgba(0,0,25,0.9)),url('img/img7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    color:#fff;
    z-index: -2;
}

.hero h1 {
    font-size: 60px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    letter-spacing: 8px;
    text-align: center;
    margin-top: -100px;
    font-family: 'Merienda', cursive;
    text-shadow: 2px 2px 0 black;
}


#focus {
    position: absolute;
    width: 280px;
    height: 280px;
    z-index: 1;
    background: url('img/img7.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 50%;
    top: calc(50% - 140px);
    left: calc(50% - 140px);
    z-index: 0;
}


  
